@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Vollkorn:400,700|Lora:400italic);
.set-default {
  width: 100%;
  float: left;
}
* {
  outline: none !important;
  -webkit-font-smoothing: antialiased;
}
body {
  height: 100%;
  position: relative;
}
body.body-overflow {
}
body.grey-bg {
  background: #e3e3e3;
}
.st-menu-open .st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.st-menu-open .st-menu:after {
  display: none;
  width: 0;
  height: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;
  -moz-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;
  -o-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;
  transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;
}
.st-menu-open #main-container:after {
  width: 100%;
  height: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.st-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 300px;
  background: none repeat scroll 0% 0% #0d0d0d;
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  -moz-transform: translate3d(-100%, 0px, 0px);
  -o-transform: translate3d(-100%, 0px, 0px);
  -ms-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  padding: 30px 30px 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.st-menu:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}
.st-menu .close-side-menu {
  background: transparent;
  border: none;
  color: white;
  font-size: 50px;
  line-height: 30px;
  padding: 0;
  float: left;
}
.st-menu ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.st-menu ul li {
  float: left;
  width: 100%;
  border-top: solid 1px #161616;
}
.st-menu ul li:first-child {
  border-top: none;
}
.st-menu ul li.active > a {
  color: #d7a25b;
}
.st-menu ul li.active > ul {
  display: block;
}
.st-menu ul li.selected > a {
  color: #d7a25b;
}
.st-menu ul li > ul {
  position: relative;
  margin-top: -10px;
  padding-bottom: 20px;
  display: none;
}
.st-menu ul li > ul:before {
  top: -15px;
  left: 50%;
  margin-left: -4px;
  content: "";
  position: absolute;
  border-right: 4px solid transparent;
  border-top: 4px solid #d7a25b;
  border-left: 4px solid transparent;
}
.st-menu ul li > ul li {
  border-top: none;
}
.st-menu ul li > ul li a {
  padding: 10px 0;
}
.st-menu ul a {
  color: white;
  font-size: 12px;
  width: 100%;
  float: left;
  padding: 30px 0;
  text-decoration: none;
}
.st-menu ul a:hover {
  color: #d7a25b;
}
#main-container {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: -webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s;
}
#main-container:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -moz-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.homepage-articles {
  width: 100%;
  float: left;
}
.homepage-articles article {
  float: left;
  height: 330px;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  text-align: center;
  padding: 10px 30px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: black;
  border: solid 0px transparent;
}
.homepage-articles article:hover {
  border: solid 10px transparent;
}
.homepage-articles article .separator {
  width: 50px;
  border-top: solid 2px white;
  display: inline-block;
  margin: 20px 0;
}
.homepage-articles article h2 {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.homepage-articles article h2 a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.homepage-articles article h2 a:hover {
  color: #ebebeb;
}
.homepage-articles article .details a,
.normal-slider article .details a {
  text-transform: uppercase;
  color: white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
}
.normal-slider article .details {
  margin-top: 10px;
}
.homepage-articles article .details span,
.normal-slider article .details span {
  margin: 0 5px;
}
.homepage-articles article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  z-index: 1;
}
.homepage-articles article .inner {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.homepage-articles article .inner-overlay {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.normal-slider-wrap {
  width: 100%;
  float: left;
}
.normal-slider-wrap > .col-sm-12 {
  position: relative;
}
.normal-slider-wrap .bx-wrapper {
  height: 100%;
}
.normal-slider-wrap .bx-wrapper .bx-viewport {
  border: none;
  left: 0;
  box-shadow: none;
  background: #000000;
}
.normal-slider-wrap .slider-controls {
  position: absolute;
  top: 50%;
  background: #1a1a1a;
  width: 70px;
  margin-top: -90px;
  right: 15px;
  text-align: center;
  z-index: 90;
}
.normal-slider-wrap .slider-controls button {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: none;
  color: #434343;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  line-height: 70px;
}
.normal-slider-wrap .slider-controls button:hover {
  color: #d7a25b;
}
.normal-slider-wrap .slider-controls .counter {
  margin: 10px 0;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: "Lora", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}
.normal-slider {
  width: 100%;
  float: left;
  position: relative;
}
.normal-slider article {
  float: left;
  height: 700px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 10px 30px;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.normal-slider article.visible {
  top: 0;
}
.normal-slider article.bigIndex {
  z-index: 3;
}
.normal-slider article .separator {
  width: 50px;
  border-top: solid 2px white;
  display: inline-block;
  margin: 20px 0;
}
.normal-slider article h2 {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.normal-slider article h2 a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.normal-slider article h2 a:hover {
  color: #ebebeb;
}
.normal-slider article p {
  width: 50%;
  color: white;
  font-family: "Lora", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin: 0 auto;
  float: none;
}
.normal-slider article .date {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.normal-slider article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  z-index: 1;
}
.normal-slider article .inner {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.normal-slider article .inner-overlay {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.normal-slider article .icons {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.normal-slider article .icons a {
  color: white;
  text-decoration: none;
}
.normal-slider article .icons span {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.normal-slider article .article-link {
  color: white;
  font-family: "Lora", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.full-homepage {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}
.full-homepage .open-side-menu {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 40px;
  line-height: 40px;
  border: none;
  background: transparent;
  z-index: 3;
}
.full-homepage .open-side-menu .icon-bar {
  background: white;
}
.full-homepage .big-logo {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -60px;
  color: white;
  z-index: 3;
}
.full-homepage .bx-wrapper {
  height: 100%;
}
.full-homepage .bx-wrapper .bx-viewport {
  border: none;
  left: 0;
  box-shadow: none;
  background: #000000;
}
.full-homepage .left-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
}
.full-homepage .right-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
}
.full-homepage .right-section .slider-controls {
  position: absolute;
  bottom: 0px;
  background: #1a1a1a;
  width: 50%;
  left: 25%;
  text-align: center;
}
.full-homepage .right-section .slider-controls button {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: none;
  color: #434343;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 56px;
}
.full-homepage .right-section .slider-controls button:hover {
  color: #d7a25b;
}
.full-homepage .right-section .slider-controls .counter {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Lora", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.full-homepage .main-slider {
  width: 100%;
  float: left;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: relative;
  overflow: hidden;
}
.full-homepage .main-slider article {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 10px 30px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0px;
  height: 100%;
  z-index: 2;
}
.full-homepage .main-slider article.visible {
  top: 0;
}
.full-homepage .main-slider article.bigIndex {
  z-index: 3;
}
.full-homepage .main-slider article.firstAnim {
  -webkit-transform: scale(0.8, 0.8) translate(0px, 400px);
  -moz-transform: scale(0.8, 0.8) translate(0px, 400px);
  -o-transform: scale(0.8, 0.8) translate(0px, 400px);
  -ms-transform: scale(0.8, 0.8) translate(0px, 400px);
  transform: scale(0.8, 0.8) translate(0px, 400px);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.full-homepage .main-slider article.secondAnim {
  -webkit-transform: scale(0.8, 0.8) translate(0px, 400px);
  -moz-transform: scale(0.8, 0.8) translate(0px, 400px);
  -o-transform: scale(0.8, 0.8) translate(0px, 400px);
  -ms-transform: scale(0.8, 0.8) translate(0px, 400px);
  transform: scale(0.8, 0.8) translate(0px, 400px);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.full-homepage .main-slider article .separator {
  width: 50px;
  border-top: solid 2px white;
  display: inline-block;
  margin: 20px 0;
}
.full-homepage .main-slider article h2 {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.full-homepage .main-slider article h2 a {
  color: white;
  text-decoration: none;
}
.full-homepage .main-slider article p {
  width: 50%;
  color: white;
  font-family: "Lora", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin: 0 auto;
}
.full-homepage .main-slider article .hidden-top {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: -200px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.full-homepage .main-slider article .hidden-bottom {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  bottom: -200px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.full-homepage .main-slider article .date {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.full-homepage .main-slider article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  z-index: 1;
}
.full-homepage .main-slider article .inner {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.full-homepage .main-slider article .inner-overlay {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.full-homepage .main-slider article .icons {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.full-homepage .main-slider article .icons span {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.full-homepage .main-slider article .icons a {
  color: white;
  text-decoration: none;
}
.full-homepage .main-slider article .article-link {
  color: white;
  font-family: "Lora", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.full-homepage .sidebar-slider {
  width: 100%;
  float: left;
}
.full-homepage .sidebar-slider article {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 10px 30px;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: black;
  border: solid 0px transparent;
}
.full-homepage .sidebar-slider article.active .hidden-top {
  top: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.full-homepage .sidebar-slider article.active .hidden-bottom {
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.full-homepage .sidebar-slider article.active .icons {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 0px;
}
.full-homepage .sidebar-slider article.active .overlay {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.full-homepage .sidebar-slider article:hover {
  border: solid 10px black;
}
.full-homepage .sidebar-slider article:hover .hidden-top {
  top: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.full-homepage .sidebar-slider article:hover .hidden-bottom {
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.full-homepage .sidebar-slider article:hover .icons {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 0px;
}
.full-homepage .sidebar-slider article:hover .overlay {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.full-homepage .sidebar-slider article .separator {
  width: 50px;
  border-top: solid 2px white;
  display: inline-block;
  margin: 20px 0;
}
.full-homepage .sidebar-slider article h2 {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: -3px 0 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}
.full-homepage .sidebar-slider article .hidden-top {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: -200px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.full-homepage .sidebar-slider article .hidden-bottom {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  bottom: -200px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.full-homepage .sidebar-slider article .date {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.full-homepage .sidebar-slider article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}
.full-homepage .sidebar-slider article .inner {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.full-homepage .sidebar-slider article .inner-overlay {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.full-homepage .sidebar-slider article .icons {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.full-homepage .sidebar-slider article .icons span {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.full-homepage .sidebar-slider article .article-link {
  color: white;
  font-family: "Lora", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
#post-container {
  width: 100%;
  float: left;
  padding-bottom: 90px;
  background: #e3e3e3;
}
#post-container.white-bg {
  background: white;
}
.left-container {
  width: 100%;
  float: left;
  background: #ffffff;
  position: relative;
}
#headers-container {
  width: 100%;
  float: left;
  background: white;
}
#headers-container header {
  margin-bottom: 120px;
}
.homepage-post {
  width: 100%;
  float: left;
  padding: 20px;
}
.homepage-post figure {
  width: 100%;
  float: left;
  height: auto;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  text-align: center;
}
.homepage-post figure img {
  width: 100%;
  height: auto;
}
.homepage-post figure .overlay {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.homepage-post figure .inner {
  position: relative;
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
}
.homepage-post figure .figure-text {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 100%;
}
.homepage-post figure h3 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.homepage-post figure h3 a {
  color: white;
  text-decoration: none;
}
.homepage-post figure hr {
  border-bottom: solid 2px white;
  margin: 30px auto;
  width: 35px;
}
.homepage-post figure h5 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.homepage-post figure h5 a {
  color: white;
  text-decoration: none;
}
.homepage-post .info {
  width: 100%;
  float: left;
  margin: 0 auto;
  display: inline-block;
  border-bottom: solid 1px #f6f6f6;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
.homepage-post .info .text {
  float: left;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #232323;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.homepage-post:last-child .info {
  border-bottom: none;
}
.post {
  width: 100%;
  float: left;
  padding: 50px 20px 0;
}
.post.top-padded {
  padding-top: 100px;
}
.post .text-figure {
  width: 100%;
  float: left;
}
.post .text-figure figure {
  width: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.post .text-figure figure img {
  width: 100%;
  height: auto;
}
.post .text-figure p {
  float: none;
  width: auto;
}
.post .tags {
  width: 100%;
  float: left;
  margin-bottom: 45px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #3e3e3e;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.post .tags a {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #3e3e3e;
  letter-spacing: 0;
  text-decoration: none;
}
.related-posts {
  width: 100%;
  float: left;
  margin: 0;
  padding: 50px 0;
}
.related-posts .post {
  width: 100%;
  float: left;
  padding: 0;
}
.related-posts .post:hover .overlay {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.related-posts .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.related-posts .overlay .inner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.related-posts .overlay i {
  display: table-cell;
  vertical-align: middle;
  font-size: 70px;
  color: white;
}
.related-posts .overlay .background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #232323;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.related-posts figure {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  position: relative;
}
.related-posts figure img {
  width: 100%;
  height: auto;
}
.related-posts .post-title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  float: left;
  color: #3e3e3e;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
}
.related-posts .info {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  float: left;
  color: #656565;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 20px;
}
.text-editor p {
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
  margin-bottom: 40px;
  width: 100%;
  float: left;
}
.text-editor .underline {
  display: inline;
  border-bottom: solid 1px #232323;
}
.text-editor .underline.orange {
  border-bottom: solid 1px #d7a25b;
}
.post-section {
  width: 100%;
  float: left;
  padding: 30px 0;
  text-align: center;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-top: solid 2px #dcdcdc;
  border-bottom: solid 2px #dcdcdc;
  color: #3e3e3e;
}
.author {
  width: 100%;
  float: left;
  padding: 50px 20px;
}
.author figure {
  width: 130px;
  float: left;
}
.author figure img {
  width: 100%;
  height: auto;
}
.author .name {
  margin-left: 20px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #232323;
  text-decoration: none;
}
.author .contact {
  margin-left: 150px;
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
  margin-bottom: 20px;
}
.author .content {
  margin-left: 150px;
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
}
.comments {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}
.comments li {
  width: 100%;
  float: left;
  padding-top: 30px;
  border-top: solid 2px #dcdcdc;
  position: relative;
  z-index: 0;
}
.comments li:first-child {
  border-top: none;
}
.comments ul {
  padding-left: 100px;
  list-style: none;
}
.comments ul li {
  border-top: solid 2px #dcdcdc;
}
.comments ul li:first-child {
  border-top: solid 2px #dcdcdc;
}
.comments ul li .comment-no {
  right: 130px;
}
.comments ul ul {
  list-style: none;
  padding-left: 100px;
}
.comments ul ul li {
  border-top: solid 2px #dcdcdc;
}
.comments ul ul li .comment-no {
  right: 130px;
}
.comments .comment-no {
  position: absolute;
  top: 30px;
  right: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #f7f7f7;
  letter-spacing: 2px;
  z-index: 5;
}
.comments figure {
  width: 80px;
  float: left;
}
.comments figure img {
  width: 100%;
  height: auto;
}
.comments .name {
  margin-left: 20px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #232323;
  text-decoration: none;
}
.comments .contact {
  margin-left: 100px;
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
  margin-bottom: 20px;
}
.comments .content {
  margin-left: 100px;
  margin-bottom: 35px;
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
}
.comments .reply {
  margin-left: 100px;
  margin-bottom: 30px;
  width: 100%;
  float: left;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #a7a7a7;
  text-transform: uppercase;
  text-decoration: none;
}
.comments .reply:hover {
  text-decoration: none;
}
.comments .reply .no-font {
  font-family: "Arial, sans-serif";
  font-weight: bold;
  font-size: 24px;
}
form {
  width: 100%;
  float: left;
  padding: 40px 20px 60px;
}
form input.form-control {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  border: none;
  border-bottom: solid 2px #dcdcdc;
  height: 35px;
  width: 100%;
  float: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
form input.form-control:active,
form input.form-control:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: solid 2px #232323;
}
form textarea {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  border: none;
  border-bottom: solid 2px #dcdcdc;
  width: 100%;
  float: left;
  height: 170px;
  resize: none;
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
form textarea:active,
form textarea:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: solid 2px #232323;
}
form label {
  width: 100%;
  float: left;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
}
form button {
  margin-top: 40px;
  width: 100%;
  float: left;
}
.post-header {
  width: 100%;
  float: left;
  padding: 21px 20px 15px;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
}
.post-header-border {
  border-bottom: solid 2px #dcdcdc;
  height: 43px;
}
.post-share a {
  text-decoration: none;
  color: #3E3E3E;
}
.post-header .dropdown-menu,
.post-share .dropdown-menu {
  background: white;
  border: solid 3px #ececec;
  padding: 20px 5px 20px 5px;
  text-align: center;
  width: 415px;
  top: 26px;
  left: -165px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.post-share .dropdown-menu {
  left: 175px;
}
.post-header .dropdown-menu:before,
.post-share .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 49%;
  margin-left: -3px;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ececec;
  border-left: 6px solid transparent;
}
.post-header .dropdown-menu:after,
.post-share .dropdown-menu:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 49%;
  margin-left: -4px;
  border-right: 7px solid transparent;
  border-bottom: 9px solid white;
  border-left: 7px solid transparent;
}
.post-header .dropdown-menu li,
.post-share .dropdown-menu li {
  display: inline-block;
  margin: 0 5px;
}
.post-header .dropdown-menu li a,
.post-share .dropdown-menu li a {
  background: white;
  width: auto;
  padding: 0;
}
.post-header .dropdown-menu li a:hover,
.post-share .dropdown-menu li a:hover {
  background: white;
}
.post-header .dropdown-menu li i,
.post-share .dropdown-menu li i {
  color: #6b6b6b;
  font-size: 28px;
}
.post-header .dropdown-menu li i.icon-smaller,
.post-share .dropdown-menu li i.icon-smaller {
  font-size: 22px;
}
.post-header.sticky {
  position: fixed;
  top: 0;
  background: white;
  width: inherit;
  right: auto;
  z-index: 30;
}
.post-header .info {
  float: left;
}
.post-header .text {
  float: left;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #3e3e3e;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 10px;
}
.post-header .text a {
  text-decoration: none;
  color: #3e3e3e;
}
.post-header .navigation {
  float: right;
  margin-right: -30px;
  margin-top: -4px;
}
.post-header .navigation a {
  float: left;
  margin-right: 30px;
  text-decoration: none;
  color: #b8b8b8;
}
.post-header .navigation a:hover {
  color: #d7a25b;
}
.post-header .navigation a:hover .text {
  color: #d7a25b;
}
.post-header .navigation a i {
  font-size: 25px;
  float: left;
}
.post-header .navigation a .text {
  float: left;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #b8b8b8;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 0;
}
.menu-icon {
  background: transparent;
  border: none;
}
.menu-icon .icon-bar {
  display: block;
  width: 37px;
  height: 3px;
  border-radius: 1px;
  background-color: #919191;
}
.menu-icon .icon-bar.middle {
  margin: 10px 0;
}
header .socials {
  position: absolute;
  top: 47px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
header .socials li {
  float: left;
  margin-right: 10px;
}
header .socials li a {
  color: #6b6b6b;
  text-decoration: none;
  font-size: 40px;
}
header.image-header {
  width: 100%;
  float: left;
  background-size: cover;
  padding: 40px 0 300px;
  text-align: center;
  position: relative;
}
header.image-header .open-side-menu {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 40px;
  line-height: 40px;
  border: none;
  background: transparent;
  z-index: 3;
}
header.image-header .open-side-menu .icon-bar {
  background: white;
}
header.image-header figure {
  width: 70px;
  height: auto;
  margin: 0 auto;
}
header.image-header figure img {
  width: 100%;
  height: auto;
}
header.image-header .description {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 54px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
}
header.image-header .content {
  text-align: center;
  text-transform: uppercase;
  margin-top: 270px;
}
header.image-header .content h1 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  color: white;
  letter-spacing: 5px;
}
header.image-header .content h4 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #e3e3e3;
  letter-spacing: 2px;
}
header.image-header .content h4 a {
  text-decoration: none;
  color: #e3e3e3;
}
header.image-header .content hr {
  margin: 20px auto;
  border-bottom: solid 2px white;
  width: 40px;
}
header.image-header .content .info {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  margin: 0 auto;
  display: inline-block;
}
header.image-header .content .info .text {
  float: left;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header.image {
  background-size: cover;
  background-position: center;
}
header.image .socials a {
  color: white;
}
header.image.type-1 .menu-icon {
  color: white;
  text-decoration: none;
}
header.image.type-1 .menu-icon .icon-bar {
  background: white;
}
header.image.type-1 .logo-text {
  color: white;
}
header.image.type-1 .logo-extra {
  color: white;
}
header.grey {
  background: #e3e3e3;
}
header.type-1 {
  width: 100%;
  float: left;
}
header.type-1 .content {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 40px 0 30px;
}
header.type-1 .menu-icon {
  position: absolute;
  left: 0;
  top: 60px;
  color: #919191;
  font-size: 35px;
  text-decoration: none;
}
header.type-1 figure {
  width: 70px;
  height: auto;
  margin: 0 auto;
}
header.type-1 figure img {
  width: 70px;
  height: auto;
}
header.type-1 .logo-text {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 54px;
  color: #919191;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
header .logo-extra {
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #454545;
  font-style: italic;
  margin: 40px 0 20px;
  text-decoration: none;
}
header .menu {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
header .menu li {
  float: left;
  margin: 0 15px;
  display: inline;
}
header .menu a {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
header .menu a:hover {
  color: #D7A25B;
}
header.type-2 {
  width: 100%;
  float: left;
  padding: 50px 0;
}
header.type-2 figure {
  float: left;
  width: 70px;
  height: auto;
  margin-right: 40px;
}
header.type-2 figure img {
  width: 100%;
  height: auto;
}
header.type-2 .menu {
  float: left;
}
header.type-2 .socials {
  top: 20px;
}
header.type-2 .content {
  width: 100%;
  float: left;
  position: relative;
}
header.type-3 {
  width: 100%;
  float: left;
  padding: 40px 0;
  text-align: center;
}
header.type-3 figure {
  width: 70px;
  height: auto;
  margin: 0 auto;
}
header.type-3 figure img {
  width: 100%;
  height: auto;
}
header.type-3 .menu {
  float: none;
  text-align: center;
}
header.type-3 .logo-extra {
  color: white;
}
.btn.btn-default {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  -moz-box-shadow: none;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #d7a25b;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #3e3e3e;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 45px;
  border: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.btn.btn-default:hover {
  border: none;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.author-section {
  width: 100%;
  float: left;
  background: #d7d7d7;
  margin-bottom: 20px;
  padding: 40px 300px 20px;
  text-align: center;
}
.author-section figure {
  margin: 0 auto 15px;
  width: 130px;
}
.author-section figure img {
  width: 100%;
  height: auto;
}
.author-section .name {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #232323;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.author-section .contact {
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  line-height: 32px;
  margin-bottom: 20px;
}
.author-section .content {
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #232323;
  line-height: 32px;
  margin-bottom: 40px;
}
.author-section .posts {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #777777;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.author-section .posts i {
  color: #c4c4c4;
  font-size: 25px;
}
.category-section {
  width: 100%;
  float: left;
  background: #d7d7d7;
  padding: 85px 0 70px;
  text-align: center;
  margin-bottom: 20px;
}
.category-section h1 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #3e3e3e;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.category-section .posts {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #656565;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.widgets {
  width: 100%;
  float: left;
  -lh-property: 0;
width:-webkit-calc(100% + 30px);
width:-moz-calc(100% + 30px);
width:calc(100% + 30px);
  background: #f6f6f6;
  padding: 0 20px;
  margin-left: -30px;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.widget {
  width: 100%;
  float: left;
  text-align: center;
}
.widget .title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #3e3e3e;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 40px 0;
  border-bottom: solid 2px #dcdcdc;
}
.widget.about figure {
  width: 100%;
  float: left;
  margin: 20px 0;
}
.widget.about figure img {
  width: 100%;
  height: auto;
}
.widget.about .name {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #3e3e3e;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-decoration: none;
}
.widget.about .content {
  font-family: "Vollkorn", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
  margin-top: 10px;
}
.widget.posts ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
}
.widget.posts li {
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: left;
}
.widget.posts li figure {
  width: 80px;
  float: left;
  margin-right: 20px;
}
.widget.posts li figure img {
  width: 100%;
  height: auto;
}
.widget.posts li .post-title {
  margin-bottom: 20px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #686868;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.widget.posts li .info {
  margin-left: 100px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #a6a6a6;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.widget.advertisement figure {
  width: 100%;
  float: left;
  margin: 50px 0;
}
.widget.advertisement figure img {
  width: 100%;
  height: auto;
}
.widget.instagram {
  margin-bottom: 20px;
}
.widget.instagram .content {
  width: 100%;
  float: left;
  margin: 20px 0;
}
.widget.instagram .content img {
  width: 33.33%;
  float: left;
}
.widget.instagram .btn-instagram {
  width: 100%;
  background: #506e87;
  color: white;
  padding: 30px 0;
  font-weight: 400;
}

.post-sidebar-padding {
  padding: 0 20px;
}
.text-editor .post p {
  text-align: justify;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .full-homepage .right-section .slider-controls {
    width: 70%;
    left: 15%;
  }
  .post-share .dropdown-menu {
    left: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .post-share .dropdown-menu {
    left: 162px;
  }
  .full-homepage .right-section .slider-controls {
    width: 70%;
    left: 15%;
  }
  .post .text-figure figure {
    width: 100%;
  }
  .post .text-figure p {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-top: 20px;
  }
  .widget.posts li .post-title {
    font-size: 12px;
  }
  .widget.posts li .info {
    font-size: 10px;
  }
  .comments ul li .comment-no {
    right: 0;
  }
  .comments ul ul li .comment-no {
    right: 0;
  }
  .comments ul ul {
    padding-left: 50px;
  }
  .comments ul {
    padding-left: 50px;
  }
  .homepage-post figure h3 {
    font-size: 20px;
    line-height: 35px;
  }
  .homepage-post figure h5 {
    font-size: 10px;
    line-height: 10px;
  }
  .author-section {
    padding: 40px 100px 20px;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .post-share .dropdown-menu {
    left: 18%;
  }
  .full-homepage .right-section .slider-controls {
    top: -60px;
    bottom: auto;
    width: 100%;
    left: 0;
  }
  .full-homepage .right-section .slider-controls button {
    font-size: 60px;
    line-height: 60px;
    margin: 0 40px;
    height: 60px;
    width: 60px;
  }
  .full-homepage .right-section .slider-controls .counter {
    font-size: 20px;
  }
  .full-homepage .left-section {
    width: 100%;
  }
  .full-homepage .right-section {
    width: 100%;
    top: 100%;
    height: 0px !important;
  }
  .full-homepage .right-section .bx-wrapper {
    height: 0px !important;
    overflow: hidden;
  }
  header .socials {
    position: static;
    width: 100%;
    text-align: center;
  }
  header .socials li {
    float: none;
    display: inline-block;
  }
  .st-menu {
    width: 300px;
  }
  .normal-slider article {
    height: 300px;
  }
  .normal-slider article p {
    display: none;
  }
  .homepage-articles article {
    width: 100%;
  }
  .post .text-figure figure {
    width: 100%;
  }
  .post .text-figure p {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-top: 20px;
  }
  .author .name {
    margin-left: 0;
    width: 100%;
    float: left;
    margin-top: 20px;
  }
  .author .contact {
    margin-left: 0;
    width: 100%;
    float: left;
  }
  .author .content {
    margin-left: 0;
    width: 100%;
    float: left;
  }
  .comments .name {
    margin-left: 0;
    width: 100%;
    float: left;
    margin-top: 20px;
  }
  .comments .contact {
    margin-left: 0;
    width: 100%;
    float: left;
  }
  .comments .content {
    margin-left: 0;
    width: 100%;
    float: left;
  }
  .comments .reply {
    margin-left: 0;
    width: 100%;
    float: left;
  }
  .comments ul li .comment-no {
    right: 0;
  }
  .comments ul ul li .comment-no {
    right: 0;
  }
  .comments ul ul {
    padding-left: 50px;
  }
  .comments ul {
    padding-left: 50px;
  }
  .widgets {
    margin-left: 0;
    width: 100%;
  }
  .related-posts .post-title {
    font-size: 10px;
  }
  .related-posts .info {
    font-size: 10px;
    line-height: 14px;
    margin-top: 10px;
  }
  .post-header .navigation {
    margin-bottom: 15px;
  }
  .homepage-post figure h3 {
    font-size: 20px;
    line-height: 35px;
  }
  header.type-2 .socials {
    top: auto;
    bottom: -30px;
    left: 50%;
    margin-left: -45px;
  }
  .author-section {
    padding: 40px 50px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .single .widgets {
    margin-top: 110px;
  }
}

.socials a {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.socials a.twitter:hover,
.icon-twitter:hover {
  color: #00aced !important;
}
.socials a.facebook:hover,
.icon-facebook:hover {
  color: #3b5998 !important;
}
.socials a.googleplus:hover,
.icon-googleplus:hover {
  color: #dd4b39 !important;
}
.socials a.youtube:hover {
  color: #bb0000;
}
.socials a.linkedin:hover {
  color: #007bb6;
}
.socials a.instagram:hover,
.icon-instagram:hover {
  color: #517fa4 !important;
}
.socials a.pinterest:hover,
.icon-pinterest:hover {
  color: #cb2027 !important;
}
.socials a.flickr:hover {
  color: #ff0084;
}
.socials a.tumblr:hover,
.icon-tumblr:hover {
  color: #32506d !important;
}
.socials a.vimeo:hover {
  color: #aad450;
}
.socials a.dribbble:hover {
  color: #C73B6F;
}