<article>
    <header>
        <span class="date">April 24, 2017</span>
        <h2><a href="blog_loop_post_url">blog_loop_post_title</a></h2>
        <h3><a href="blog_loop_post_url">blog_loop_post_subtitle</a></h3>
    </header>
    <a href="blog_loop_post_url" class="image fit"><img src="images/blog_loop_post_image" alt="" /></a>
    <p>blog_loop_post_teaser_text</p>
    <ul class="actions special">
        <li><a href="blog_loop_post_url" class="button">read_more_link_text</a></li>
    </ul>
</article>