@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?1o7zb2');
	src:url('../fonts/icomoon.eot?#iefix1o7zb2') format('embedded-opentype'),
		url('../fonts/icomoon.svg?1o7zb2#icomoon') format('svg'),
		url('../fonts/icomoon.woff?1o7zb2') format('woff'),
		url('../fonts/icomoon.ttf?1o7zb2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
}

a.symbol {
    text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e614";
}
.icon-reddit:before {
	content: "\e615";
}
.icon-mail:before {
	content: "\e616";
}
.icon-googleplus:before {
	content: "\e617";
}
.icon-tumblr:before {
	content: "\e618";
}
.icon-stumbleupon:before {
	content: "\e619";
}
.icon-plus:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e612";
}
.icon-pinterest:before {
	content: "\e613";
}
.icon-close:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-share:before {
	content: "\e604";
}
.icon-heart:before {
	content: "\e605";
}
.icon-comment:before {
	content: "\e606";
}
.icon-video:before {
	content: "\e607";
}
.icon-sound:before {
	content: "\e608";
}
.icon-slidergallery:before {
	content: "\e609";
}
.icon-angle-down:before {
	content: "\e60e";
}
.icon-angle-up:before {
	content: "\e60f";
}
.icon-angle-right:before {
	content: "\e60a";
}
.icon-angle-left:before {
	content: "\e60b";
}
.icon-quote:before {
	content: "\e60c";
}
.icon-image:before {
	content: "\e60d";
}
