<article class="post featured">
    <header class="major">
        <span class="date">featured_post_date</span>
        <h2><a href="featured_post_url">featured_post_title</a></h2>
        <h3><a href="featured_post_url">featured_post_subtitle</a></h3>
        <p>featured_post_teaser_text</p>
    </header>
    <a href="featured_post_url" class="image main"><img src="images/featured/featured_post_image" alt="" /></a>
    <ul class="actions special">
        <li><a href="featured_post_url" class="button large">Full Story</a></li>
    </ul>
</article>
