<div class="case">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
            <a href="blog_loop_post_url" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/blog_loop_post_image);"></a>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
            <div class="text w-100 pl-md-3">
                <span class="subheading">blog_loop_post_subtitle</span>
                <h2><a href="blog_loop_post_url">blog_loop_post_title</a></h2>
                <div class="meta">
                    <p class="mb-0"><a href="blog_loop_post_url">blog_loop_post_date</a> | <a href="#">blog_loop_post_reading_time</a></p>
                </div>
            </div>
        </div>
    </div>
</div>