<div class="homepage-post">
    <figure>
        <img src="images/760/blog_loop_post_image" alt="" />
        <div class="overlay">
            <div class="inner">
                <div class="figure-text">
                    <!-- todo the page break here is not automatic, title has a br tag in the middle. Need to figure this out (with css?) -->
                    <h3><a href="blog_loop_post_url">blog_loop_post_title</a></h3>
                    <hr class="hidden-xs" />
                    <h5 class="hidden-xs">blog_loop_post_subtitle</h5>
                </div>
            </div>
        </div>
    </figure>
    <p>blog_loop_post_teaser_text</p>
    <div class="readmore"><a href="blog_loop_post_url" class="text">Read More</a></div>
    
</div>