<article class="slide visible" style="background-image: url(images/760/featured_post_image)">
    <div class="overlay"></div>
    <div class="inner">
        <div class="inner-overlay">
            <h2><a href="featured_post_url">featured_post_title</a></h2>
            <div class="details">
                featured_post_subtitle
            </div>
            <div class="separator"></div>
            <p>featured_post_teaser_text</p>
            <div class="separator"></div>
            <!-- todo maybe include a read more button here with nice square white frame to stay with the theme look -->
        </div>
    </div>
</article>