<footer>
    <div class="pagination">
        <a href="pagination_previous_page_url" class="previous">Prev</a>
        <a href="pagination_previous_page_1_url" class="page">pagination_previous_page_1_number</a>
        <a href="pagination_previous_page_2_url" class="page">pagination_previous_page_2_number</a>
        <a href="pagination_previous_page_3_url" class="page">pagination_previous_page_3_number</a>
        <span class="extra">&hellip;</span>
        <a href="pagination_next_page_1_url" class="page">pagination_next_page_1_number</a>
        <a href="pagination_next_page_2_url" class="page">pagination_next_page_2_number</a>
        <a href="pagination_next_page_3_url" class="page">pagination_next_page_3_number</a>
        <a href="pagination_next_page_url" class="next">Next</a>
    </div>
</footer>