<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>post_title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../images/favicon.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/main.css">

</head>
<body class="single">
    <nav class="st-menu st-effect-1" id="menu-1">
        <button class="close-side-menu"><i class="icon-close"></i></button>
        <ul>
            <li class="active">
                <a href="homepage.html">Homepage</a>
                <ul>
                    <li><a href="index.html">Homepage 1</a></li>
                </ul>
            </li>
            <!-- <li><a href="headers.html">Headers</a></li>
            <li>
                <a href="#">Post Types</a>
                <ul>
                    <li><a href="post.html">Post without sidebar</a></li>
                    <li><a href="/posts/post-sidebar.html">Post with sidebar</a></li>
                </ul>
            </li>
            <li><a href="features.html">Features</a></li>
            <li><a href="contact.html">Contact</a></li> -->
        </ul>
    </nav>
    <header class="image-header" style="background-image: url('../images/top-background.jpg')">
        <button type="button" class="menu-icon open-side-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar middle"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="menu">
                        header_nav_bar_links                     
                    </ul><br><br>
                    <a href="/">
                        <figure>
                            <a href="../"><img src="../images/website_logo_white" alt=""/></a>
                        </figure>
                    </a>
                    <a href="/" class="description">website_title<br>website_subtitle</a>                   
                    
                    <div class="content">
                        <h1>post_title</h1>
                        <h4>post_subtitle</h4>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" id="post-container" class="text-editor white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="left-container">
                        <div class="post-header">
                            <div class="post-header-border">
                                <div class="navigation">
                                    <a href="../previous_post_url">
                                        <i class="icon-angle-left"></i>
                                        <span class="text">Previous</span>
                                    </a>
                                    <a href="../next_post_url">
                                        <span class="text">Next</span>
                                        <i class="icon-angle-right"></i>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="post top-padded">
                            post_content
                            <!-- <div class="tags">
                                <strong>Tags:</strong>
                                <a href="#">Technology</a>,
                                <a href="#">Innovation</a>,
                                <a href="#">Cool stuff</a>
                            </div> -->
                        </div>
                        <div class="post-sidebar-padding">
                            <div class="post-section">
                                <div class="related-posts">
                                      related_posts_widget  
                                </div>                                    
                            </div>
                        </div>
                        <div class="author">
                            <figure>
                                <img src="../images/130px/author_image_name" alt=""/>
                            </figure>
                            <a href="#" class="name">author_name</a>
                            <div class="content">
                                author_bio
                            </div>
                        </div>
                        <!-- <div class="post-sidebar-padding">
                            <div class="post-section">
                                <i class="icon-comment"></i>Comments
                            </div>
                        </div> -->
                        <!-- <ul class="comments">
                            <li>
                                <figure>
                                    <img src="../images/user-01.jpg" alt=""/>
                                </figure>
                                <a href="#" class="name">WALTER STEPHANIE</a>
                                <div class="contact">http://www.hi.com/</div>
                                <div class="content">
                                    Perhaps the only formal whaling code authorized by legislative
                                    enactment, was that of Holland. It was decreed.
                                </div>
                                <a class="reply" href="#">Reply <span class="no-font">&ndash;</span></a>
                                <div class="comment-no">01</div>
                            </li>
                            <ul>
                                <li>
                                    <figure>
                                        <img src="../images/user-02.jpg" alt=""/>
                                    </figure>
                                    <a href="#" class="name">SARAH WHINNEM</a>
                                    <div class="contact">http://www.hello.com/</div>
                                    <div class="content">
                                        Perhaps the only formal whaling code authorized by legislative
                                    enactment, was that of Holland. It was decreed by the States-
                                
                                        General in A.D. 1695. But though no other nation.
                                    </div>
                                    <a class="reply" href="#">Reply <span class="no-font">&ndash;</span></a>
                                    <div class="comment-no">1.1</div>
                                </li>
                            </ul>
                            <li>
                                <figure>
                                    <img src="../images/user-01.jpg" alt=""/>
                                </figure>
                                <a href="#" class="name">WALTER STEPHANIE</a>
                                <div class="contact">http://teothemes.com/</div>
                                <div class="content">
                                    It frequently happens that when several ships are cruising in 
                                    company, a whale may be struck by one vessel, then escape, and 
                                    be finally killed and captured by another vessel; and herein 
                                    are indirectly comprised many minor contingencies.
                                </div>
                                <a class="reply" href="#">Reply <span class="no-font">&ndash;</span></a>
                                <div class="comment-no">02</div>
                            </li>
                        </ul> -->
                        <!-- <div class="post-sidebar-padding">
                            <div class="post-section">
                                Leave a reply
                            </div>
                        </div>
                        <form role="form">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"/>
                            </div>
                            <div class="form-group">
                                <label for="website">Website:</label>
                                <input type="url" class="form-control" id="website" name="website"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" id="email" name="email"/>
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea name="message" id="message"></textarea>
                            </div>
                            <button class="btn btn-default" type="submit">Reply</button>
                        </form> -->
                    </div>
                </div>
                <div class="col-sm-4">
                    sidebar_component
                </div>
            </div>
        </div>
    </main>

    <script src="../js/vendor/jquery-1.11.0.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/jquery.bxslider.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>