<div class="post">
    <figure>
        <img src="images/214/blog_post_related_post_image" alt=""/>
        <a href="blog_post_related_post_url" class="overlay">
            <div class="inner">
                <i class="icon-plus"></i>
            </div>
            <div class="background"></div>
        </a>
    </figure>
    <a href="blog_post_related_post_url" class="post-title">blog_post_related_post_title</a>
    <span class="related_post-title">blog_post_related_post_subtitle</span>
</div>