<div class="col-lg-4 sidebar pl-lg-5 ftco-animate">            
    <div class="sidebar-box ftco-animate">
      <div class="tagcloud">
        <h3>Categories</h3>
        all_tags_widget
      </div>
    </div>

    <div class="sidebar-box ftco-animate">
      <h3>Recent Blog</h3>      
      sidebar_recent_post_component
    </div>
    <div class="sidebar-box ftco-animate">
      <h3>Paragraph</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
    </div>
  </div>