<aside class="widgets">
    <div class="widget about">
        <div class="title">About me</div>
        <figure>
            <img src="../images/sidebar_large/author_image_name" alt="" />
        </figure>
        <a href="#" class="name">author_name</a>
        <div class="content">
            author_bio
        </div>
    </div>
    <div class="widget posts">
        <div class="title">Latest Posts</div>
        <ul>
            sidebar_recent_post_component
        </ul>
    </div>
    <div class="widget advertisement">
        <figure>
            sidebar_banner_ad_code
        </figure>
    </div>
    <div class="widget instagram">
        <!--this needs a proper Instagram widget or deletion -->
        <!-- <div class="title">Instagram</div> -->
        <div class="content">
            <!-- widget goes in here -->
        </div>
        <a href="sidebar_instagram_link" class="btn btn-default btn-instagram">Follow me</a>
    </div>
</aside>